In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import time
#######
from numpy import isnan
from pandas import read_csv
%matplotlib inline

In [2]:
!ls ../raw_data

'LFB Incident data from 2009 - 2017.csv'
'LFB Incident data from 2018 onwards.csv'
'LFB Incident data from 2018 onwards.csv.xlsx'
'LFB Mobilisation data 2021 - 2024.csv'
'LFB Mobilisation data 2021 - 2024.xlsx'
'LFB Mobilisation data from 2015 - 2020.csv'
'LFB Mobilisation data from 2015 - 2020.xlsx'
'LFB Mobilisation data from January 2009 - 2014.csv'
'LFB Mobilisation data from January 2009 - 2014.xlsx'
 Metadata.pdf
 Metadata.xlsx
'Mobilisations Metadata.pdf'
'Mobilisations Metadata.xlsx'

# Incident 2009-2017

In [3]:
df_incident_2009_2017 = pd.read_csv("../raw_data/LFB Incident data from 2009 - 2017.csv", index_col='IncidentNumber', low_memory=False)
# Display the first few rows
df_incident_2009_2017.head()

,DateOfCall,CalYear,TimeOfCall,HourOfCall,IncidentGroup,StopCodeDescription,SpecialServiceType,PropertyCategory,PropertyType,AddressQualifier,...,FirstPumpArriving_AttendanceTime,FirstPumpArriving_DeployedFromStation,SecondPumpArriving_AttendanceTime,SecondPumpArriving_DeployedFromStation,NumStationsWithPumpsAttending,NumPumpsAttending,PumpCount,PumpMinutesRounded,Notional Cost (£),NumCalls
IncidentNumber,,,,,,,,,,,,,,,,,,,,,
235138081.00,01-Jan-09,2009,00:00:37,0,Special Service,Special Service,RTC,Road Vehicle,Car,In street close to gazetteer location,...,319.0,Battersea,342.0,Clapham,2.0,2.0,2,60,255,1.0
1091.00,01-Jan-09,2009,00:00:46,0,Special Service,Special Service,Assist other agencies,Outdoor,Lake/pond/reservoir,Open land/water - nearest gazetteer location,...,NaN,NaN,NaN,NaN,NaN,NaN,1,60,255,1.0
2091.00,01-Jan-09,2009,00:03:00,0,Fire,Secondary Fire,NaN,Outdoor,Road surface/pavement,In street outside gazetteer location,...,308.0,Edmonton,NaN,NaN,1.0,1.0,1,60,255,2.0
3091.00,01-Jan-09,2009,00:04:27,0,Fire,Secondary Fire,NaN,Outdoor,Domestic garden (vegetation not equipment),On land associated with building,...,210.0,Hillingdon,NaN,NaN,1.0,1.0,1,60,255,2.0
5091.00,01-Jan-09,2009,00:05:39,0,Fire,Secondary Fire,NaN,Outdoor,Cycle path/public footpath/bridleway,In street outside gazetteer location,...,233.0,Holloway,250.0,Holloway,1.0,2.0,2,60,255,1.0

In [4]:
df_incident_2009_2017.info()

<class 'pandas.core.frame.DataFrame'>
Index: 988279 entries, 235138081.00 to 175197-31122017
Data columns (total 38 columns):
 #   Column                                  Non-Null Count   Dtype
---  ------                                  --------------   -----
 0   DateOfCall                              988279 non-null  object
 1   CalYear                                 988279 non-null  int64
 2   TimeOfCall                              988279 non-null  object
 3   HourOfCall                              988279 non-null  int64
 4   IncidentGroup                           988279 non-null  object
 5   StopCodeDescription                     988279 non-null  object
 6   SpecialServiceType                      299101 non-null  object
 7   PropertyCategory                        988279 non-null  object
 8   PropertyType                            988279 non-null  object
 9   AddressQualifier                        988279 non-null  object
 10  Postcode_full                           536765 non-null  object
 11  Postcode_district                       988279 non-null  object
 12  UPRN                                    846946 non-null  float64
 13  USRN                                    825408 non-null  float64
 14  IncGeo_BoroughCode                      988279 non-null  object
 15  IncGeo_BoroughName                      988279 non-null  object
 16  ProperCase                              988279 non-null  object
 17  IncGeo_WardCode                         988279 non-null  object
 18  IncGeo_WardName                         988279 non-null  object
 19  IncGeo_WardNameNew                      988279 non-null  object
 20  Easting_m                               536765 non-null  float64
 21  Northing_m                              536765 non-null  float64
 22  Easting_rounded                         988279 non-null  int64
 23  Northing_rounded                        988279 non-null  int64
 24  Latitude                                536765 non-null  float64
 25  Longitude                               536765 non-null  float64
 26  FRS                                     988279 non-null  object
 27  IncidentStationGround                   988279 non-null  object
 28  FirstPumpArriving_AttendanceTime        896908 non-null  float64
 29  FirstPumpArriving_DeployedFromStation   896903 non-null  object
 30  SecondPumpArriving_AttendanceTime       346421 non-null  float64
 31  SecondPumpArriving_DeployedFromStation  346419 non-null  object
 32  NumStationsWithPumpsAttending           982763 non-null  float64
 33  NumPumpsAttending                       982763 non-null  float64
 34  PumpCount                               988279 non-null  int64
 35  PumpMinutesRounded                      988279 non-null  int64
 36  Notional Cost (£)                       988279 non-null  int64
 37  NumCalls                                986451 non-null  float64
dtypes: float64(11), int64(7), object(20)
memory usage: 294.1+ MB

In [4]:
df_incident_2009_2017['PropertyType'].nunique()

290

In [2]:
start_time = time.time()  # Capture le temps au début
df_incident_2009_2017_NoIndex = pd.read_csv("../raw_data/LFB Incident data from 2009 - 2017.csv", low_memory=False)
end_time = time.time()  # Capture le temps à la fin
execution_time = end_time - start_time
print(f"Temps d'exécution : {execution_time} secondes")

Temps d'exécution : 3.670060873031616 secondes

In [5]:
df_incident_2009_2017_NoIndex.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 988279 entries, 0 to 988278
Data columns (total 39 columns):
 #   Column                                  Non-Null Count   Dtype
---  ------                                  --------------   -----
 0   IncidentNumber                          988279 non-null  object
 1   DateOfCall                              988279 non-null  object
 2   CalYear                                 988279 non-null  int64
 3   TimeOfCall                              988279 non-null  object
 4   HourOfCall                              988279 non-null  int64
 5   IncidentGroup                           988279 non-null  object
 6   StopCodeDescription                     988279 non-null  object
 7   SpecialServiceType                      299101 non-null  object
 8   PropertyCategory                        988279 non-null  object
 9   PropertyType                            988279 non-null  object
 10  AddressQualifier                        988279 non-null  object
 11  Postcode_full                           536765 non-null  object
 12  Postcode_district                       988279 non-null  object
 13  UPRN                                    846946 non-null  float64
 14  USRN                                    825408 non-null  float64
 15  IncGeo_BoroughCode                      988279 non-null  object
 16  IncGeo_BoroughName                      988279 non-null  object
 17  ProperCase                              988279 non-null  object
 18  IncGeo_WardCode                         988279 non-null  object
 19  IncGeo_WardName                         988279 non-null  object
 20  IncGeo_WardNameNew                      988279 non-null  object
 21  Easting_m                               536765 non-null  float64
 22  Northing_m                              536765 non-null  float64
 23  Easting_rounded                         988279 non-null  int64
 24  Northing_rounded                        988279 non-null  int64
 25  Latitude                                536765 non-null  float64
 26  Longitude                               536765 non-null  float64
 27  FRS                                     988279 non-null  object
 28  IncidentStationGround                   988279 non-null  object
 29  FirstPumpArriving_AttendanceTime        896908 non-null  float64
 30  FirstPumpArriving_DeployedFromStation   896903 non-null  object
 31  SecondPumpArriving_AttendanceTime       346421 non-null  float64
 32  SecondPumpArriving_DeployedFromStation  346419 non-null  object
 33  NumStationsWithPumpsAttending           982763 non-null  float64
 34  NumPumpsAttending                       982763 non-null  float64
 35  PumpCount                               988279 non-null  int64
 36  PumpMinutesRounded                      988279 non-null  int64
 37  Notional Cost (£)                       988279 non-null  int64
 38  NumCalls                                986451 non-null  float64
dtypes: float64(11), int64(7), object(21)
memory usage: 294.1+ MB

In [13]:
df_incident_2009_2017_NoIndex['Notional Cost (£)'].mean()

358.11581041386086

In [10]:
# Afficher les valeurs uniques de la colonne IncidentNumber
print(df_incident_2009_2017_NoIndex['IncidentNumber'].unique())

['235138081.00' '1091.00' '2091.00' ... '175194-31122017'
 '175195-31122017' '175197-31122017']

In [11]:
print(df_incident_2009_2017_NoIndex['UPRN'].unique())

[           nan 1.00021492e+11 0.00000000e+00 ... 2.07118588e+08
 2.02095947e+08 1.00251656e+10]

# Incident 2018-2024

In [14]:
df_incident_2018_2024 = pd.read_excel("../raw_data/LFB Incident data from 2018 onwards.csv.xlsx", index_col='IncidentNumber', engine='openpyxl')
# Display the first few rows
df_incident_2018_2024.head()

,DateOfCall,CalYear,TimeOfCall,HourOfCall,IncidentGroup,StopCodeDescription,SpecialServiceType,PropertyCategory,PropertyType,AddressQualifier,...,FirstPumpArriving_AttendanceTime,FirstPumpArriving_DeployedFromStation,SecondPumpArriving_AttendanceTime,SecondPumpArriving_DeployedFromStation,NumStationsWithPumpsAttending,NumPumpsAttending,PumpCount,PumpMinutesRounded,Notional Cost (£),NumCalls
IncidentNumber,,,,,,,,,,,,,,,,,,,,,
000008-01012018,2018-01-01,2018,00:04:25,0,False Alarm,AFA,NaN,Non Residential,Mosque,Within same building,...,348.0,Finchley,NaN,NaN,1.0,1.0,1,60,328,1.0
000009-01012018,2018-01-01,2018,00:04:30,0,False Alarm,AFA,NaN,Non Residential,Pub/wine bar/bar,Correct incident location,...,144.0,Beckenham,NaN,NaN,1.0,1.0,1,60,328,1.0
000010-01012018,2018-01-01,2018,00:04:34,0,Fire,Secondary Fire,NaN,Outdoor Structure,Common external bin storage area,On land associated with building,...,232.0,Southgate,NaN,NaN,1.0,1.0,1,60,328,1.0
000011-01012018,2018-01-01,2018,00:04:58,0,Special Service,Special Service,RTC,Road Vehicle,Multiple Vehicles,In street outside gazetteer location,...,22.0,Enfield,NaN,NaN,1.0,1.0,1,60,328,1.0
000014-01012018,2018-01-01,2018,00:07:47,0,Fire,Primary Fire,NaN,Road Vehicle,Car,In street outside gazetteer location,...,241.0,Stratford,NaN,NaN,1.0,1.0,1,60,328,6.0

In [20]:
start_time = time.time()  # Capture le temps au début
df_incident_2018_2024_NoIndex = pd.read_excel("../raw_data/LFB Incident data from 2018 onwards.csv.xlsx", engine='openpyxl')
end_time = time.time()  # Capture le temps à la fin
execution_time = end_time - start_time
print(f"Temps d'exécution : {execution_time} secondes")

Temps d'exécution : 127.37154245376587 secondes

df_incident_2018_2024_NoIndex.to_csv("../raw_data/LFB Incident data from 2018 onwards.csv", index=False)

In [21]:
start_time = time.time()  # Capture le temps au début
df_incident_2018_2024_NoIndex = pd.read_csv("../raw_data/LFB Incident data from 2018 onwards.csv")
end_time = time.time()  # Capture le temps à la fin
execution_time = end_time - start_time
print(f"Temps d'exécution : {execution_time} secondes")

Temps d'exécution : 2.036266565322876 secondes

In [14]:
df_incident_2018_2024.info()

<class 'pandas.core.frame.DataFrame'>
Index: 747701 entries, 000008-01012018 to 126234-31072024
Data columns (total 38 columns):
 #   Column                                  Non-Null Count   Dtype
---  ------                                  --------------   -----
 0   DateOfCall                              747701 non-null  datetime64[ns]
 1   CalYear                                 747701 non-null  int64
 2   TimeOfCall                              747701 non-null  object
 3   HourOfCall                              747701 non-null  int64
 4   IncidentGroup                           747695 non-null  object
 5   StopCodeDescription                     747701 non-null  object
 6   SpecialServiceType                      262834 non-null  object
 7   PropertyCategory                        747695 non-null  object
 8   PropertyType                            747695 non-null  object
 9   AddressQualifier                        747700 non-null  object
 10  Postcode_full                           335508 non-null  object
 11  Postcode_district                       747701 non-null  object
 12  UPRN                                    747701 non-null  int64
 13  USRN                                    747701 non-null  int64
 14  IncGeo_BoroughCode                      747701 non-null  object
 15  IncGeo_BoroughName                      747701 non-null  object
 16  ProperCase                              747701 non-null  object
 17  IncGeo_WardCode                         747276 non-null  object
 18  IncGeo_WardName                         747276 non-null  object
 19  IncGeo_WardNameNew                      747276 non-null  object
 20  Easting_m                               335508 non-null  float64
 21  Northing_m                              335508 non-null  float64
 22  Easting_rounded                         747701 non-null  int64
 23  Northing_rounded                        747701 non-null  int64
 24  Latitude                                335508 non-null  float64
 25  Longitude                               335508 non-null  float64
 26  FRS                                     747701 non-null  object
 27  IncidentStationGround                   747700 non-null  object
 28  FirstPumpArriving_AttendanceTime        705318 non-null  float64
 29  FirstPumpArriving_DeployedFromStation   705312 non-null  object
 30  SecondPumpArriving_AttendanceTime       274364 non-null  float64
 31  SecondPumpArriving_DeployedFromStation  274359 non-null  object
 32  NumStationsWithPumpsAttending           739721 non-null  float64
 33  NumPumpsAttending                       739721 non-null  float64
 34  PumpCount                               747701 non-null  int64
 35  PumpMinutesRounded                      747701 non-null  int64
 36  Notional Cost (£)                       747701 non-null  int64
 37  NumCalls                                747681 non-null  float64
dtypes: datetime64[ns](1), float64(9), int64(9), object(19)
memory usage: 222.5+ MB

# Mobilisation 2009-2014

In [15]:
df_mobilisation_2009_2014 = pd.read_excel("../raw_data/LFB Mobilisation data from January 2009 - 2014.xlsx", index_col='IncidentNumber', engine='openpyxl')
df_mobilisation_2009_2014.head()

,CalYear,HourOfCall,ResourceMobilisationId,Resource_Code,PerformanceReporting,DateAndTimeMobilised,DateAndTimeMobile,DateAndTimeArrived,TurnoutTimeSeconds,TravelTimeSeconds,...,DateAndTimeLeft,DateAndTimeReturned,DeployedFromStation_Code,DeployedFromStation_Name,DeployedFromLocation,PumpOrder,PlusCode_Code,PlusCode_Description,DelayCodeId,DelayCode_Description
IncidentNumber,,,,,,,,,,,,,,,,,,,,,
235138081,2009,0,38426,H271,1,2009-01-01 00:02:27,NaT,2009-01-01 00:07:46,NaN,NaN,...,2009-01-01 00:16:46,2009-01-01 00:23:55,H27,Battersea,Home Station,1,Initial,Initial Mobilisation,NaN,NaN
235138081,2009,0,38427,H212,2,2009-01-01 00:02:27,2009-01-01 00:06:40,2009-01-01 00:08:09,253.0,89.0,...,2009-01-01 00:12:17,2009-01-01 00:12:17,H21,Clapham,Home Station,2,Initial,Initial Mobilisation,NaN,NaN
2091,2009,0,38429,A341,1,2009-01-01 00:04:09,2009-01-01 00:06:40,2009-01-01 00:09:17,151.0,157.0,...,2009-01-01 00:16:33,2009-01-01 00:17:48,A34,Edmonton,Home Station,1,Initial,Initial Mobilisation,NaN,NaN
3091,2009,0,38430,G232,1,2009-01-01 00:04:57,2009-01-01 00:06:45,2009-01-01 00:08:27,108.0,102.0,...,2009-01-01 00:20:38,2009-01-01 00:20:38,G23,Hillingdon,Home Station,1,Initial,Initial Mobilisation,NaN,NaN
5091,2009,0,38432,A311,1,2009-01-01 00:06:04,2009-01-01 00:07:58,2009-01-01 00:09:57,114.0,119.0,...,2009-01-01 00:11:58,2009-01-01 00:22:29,A31,Holloway,Home Station,1,Initial,Initial Mobilisation,NaN,NaN

In [16]:
df_mobilisation_2009_2014.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 901788 entries, 235138081 to 174346141
Data columns (total 21 columns):
 #   Column                    Non-Null Count   Dtype
---  ------                    --------------   -----
 0   CalYear                   901788 non-null  int64
 1   HourOfCall                901788 non-null  int64
 2   ResourceMobilisationId    901788 non-null  int64
 3   Resource_Code             901788 non-null  object
 4   PerformanceReporting      901788 non-null  object
 5   DateAndTimeMobilised      901788 non-null  datetime64[ns]
 6   DateAndTimeMobile         883728 non-null  datetime64[ns]
 7   DateAndTimeArrived        901788 non-null  datetime64[ns]
 8   TurnoutTimeSeconds        883636 non-null  float64
 9   TravelTimeSeconds         883631 non-null  float64
 10  AttendanceTimeSeconds     901788 non-null  int64
 11  DateAndTimeLeft           856625 non-null  datetime64[ns]
 12  DateAndTimeReturned       877430 non-null  datetime64[ns]
 13  DeployedFromStation_Code  901786 non-null  object
 14  DeployedFromStation_Name  901786 non-null  object
 15  DeployedFromLocation      901744 non-null  object
 16  PumpOrder                 901788 non-null  int64
 17  PlusCode_Code             901788 non-null  object
 18  PlusCode_Description      901788 non-null  object
 19  DelayCodeId               228294 non-null  float64
 20  DelayCode_Description     228294 non-null  object
dtypes: datetime64[ns](5), float64(3), int64(5), object(8)
memory usage: 151.4+ MB

In [14]:
start_time = time.time()  # Capture le temps au début
df_mobilisation_2009_2014_NoIndex = pd.read_excel("../raw_data/LFB Mobilisation data from January 2009 - 2014.xlsx", engine='openpyxl')
end_time = time.time()  # Capture le temps à la fin
execution_time = end_time - start_time
print(f"Temps d'exécution : {execution_time} secondes")

Temps d'exécution : 92.97841691970825 secondes

# écriture en CSV
df_mobilisation_2009_2014_NoIndex.to_csv("../raw_data/LFB Mobilisation data from January 2009 - 2014.csv", index=False)

In [12]:
start_time = time.time()  # Capture le temps au début
df_mobilisation_2009_2014_NoIndex = pd.read_csv("../raw_data/LFB Mobilisation data from January 2009 - 2014.csv")
end_time = time.time()  # Capture le temps à la fin
execution_time = end_time - start_time
print(f"Temps d'exécution : {execution_time} secondes")

Temps d'exécution : 1.945178508758545 secondes

In [4]:
df_mobilisation_2009_2014_NoIndex.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 901788 entries, 0 to 901787
Data columns (total 22 columns):
 #   Column                    Non-Null Count   Dtype
---  ------                    --------------   -----
 0   IncidentNumber            901788 non-null  int64
 1   CalYear                   901788 non-null  int64
 2   HourOfCall                901788 non-null  int64
 3   ResourceMobilisationId    901788 non-null  int64
 4   Resource_Code             901788 non-null  object
 5   PerformanceReporting      901788 non-null  object
 6   DateAndTimeMobilised      901788 non-null  datetime64[ns]
 7   DateAndTimeMobile         883728 non-null  datetime64[ns]
 8   DateAndTimeArrived        901788 non-null  datetime64[ns]
 9   TurnoutTimeSeconds        883636 non-null  float64
 10  TravelTimeSeconds         883631 non-null  float64
 11  AttendanceTimeSeconds     901788 non-null  int64
 12  DateAndTimeLeft           856625 non-null  datetime64[ns]
 13  DateAndTimeReturned       877430 non-null  datetime64[ns]
 14  DeployedFromStation_Code  901786 non-null  object
 15  DeployedFromStation_Name  901786 non-null  object
 16  DeployedFromLocation      901744 non-null  object
 17  PumpOrder                 901788 non-null  int64
 18  PlusCode_Code             901788 non-null  object
 19  PlusCode_Description      901788 non-null  object
 20  DelayCodeId               228294 non-null  float64
 21  DelayCode_Description     228294 non-null  object
dtypes: datetime64[ns](5), float64(3), int64(6), object(8)
memory usage: 151.4+ MB

In [25]:
diff = df_mobilisation_2009_2014_NoIndex['AttendanceTimeSeconds'] - df_mobilisation_2009_2014_NoIndex['TurnoutTimeSeconds'] \
- df_mobilisation_2009_2014_NoIndex['TravelTimeSeconds']

In [28]:
diff.unique()

array([nan,  0.])

In [27]:
df_mobilisation_2009_2014_NoIndex.iloc[0]

IncidentNumber                         235138081
CalYear                                     2009
HourOfCall                                     0
ResourceMobilisationId                     38426
Resource_Code                               H271
PerformanceReporting                           1
DateAndTimeMobilised         2009-01-01 00:02:27
DateAndTimeMobile                            NaT
DateAndTimeArrived           2009-01-01 00:07:46
TurnoutTimeSeconds                           NaN
TravelTimeSeconds                            NaN
AttendanceTimeSeconds                        319
DateAndTimeLeft              2009-01-01 00:16:46
DateAndTimeReturned          2009-01-01 00:23:55
DeployedFromStation_Code                     H27
DeployedFromStation_Name               Battersea
DeployedFromLocation                Home Station
PumpOrder                                      1
PlusCode_Code                            Initial
PlusCode_Description        Initial Mobilisation
DelayCodeId                                  NaN
DelayCode_Description                        NaN
Name: 0, dtype: object

# Mobilisation 2015-2020

In [17]:
df_mobilisation_2015_2020 = pd.read_excel("../raw_data/LFB Mobilisation data from 2015 - 2020.xlsx", index_col='IncidentNumber', engine='openpyxl')
df_mobilisation_2015_2020.head()

,CalYear,HourOfCall,ResourceMobilisationId,Resource_Code,PerformanceReporting,DateAndTimeMobilised,DateAndTimeMobile,DateAndTimeArrived,TurnoutTimeSeconds,TravelTimeSeconds,...,DateAndTimeLeft,DateAndTimeReturned,DeployedFromStation_Code,DeployedFromStation_Name,DeployedFromLocation,PumpOrder,PlusCode_Code,PlusCode_Description,DelayCodeId,DelayCode_Description
IncidentNumber,,,,,,,,,,,,,,,,,,,,,
1151,2015,0,4436381,H262,1,2015-01-01 00:02:36,2015-01-01 00:03:55,2015-01-01 00:07:18,79.0,203.0,...,2015-01-01 00:35:20,2015-01-01 00:43:10,H26,Addington,Home Station,1,Initial,Initial Mobilisation,NaN,NaN
1151,2015,0,4436380,H261,2,2015-01-01 00:02:36,2015-01-01 00:03:50,2015-01-01 00:07:21,74.0,211.0,...,2015-01-01 00:33:33,2015-01-01 00:38:47,H26,Addington,Home Station,2,Initial,Initial Mobilisation,NaN,NaN
4151,2015,0,4436383,A352,1,2015-01-01 00:03:14,2015-01-01 00:03:58,2015-01-01 00:09:58,44.0,360.0,...,2015-01-01 00:15:10,2015-01-01 00:27:26,A35,Enfield,Home Station,1,Initial,Initial Mobilisation,12.0,Not held up
8151,2015,0,4436385,G251,1,2015-01-01 00:04:54,2015-01-01 00:06:10,2015-01-01 00:09:53,76.0,223.0,...,2015-01-01 00:44:58,2015-01-01 00:50:28,G25,Ealing,Home Station,1,Initial,Initial Mobilisation,NaN,NaN
10151,2015,0,4436390,H291,1,2015-01-01 00:06:52,2015-01-01 00:11:01,2015-01-01 00:13:33,249.0,152.0,...,2015-01-01 00:20:53,2015-01-01 00:25:16,H29,Purley,Home Station,1,Initial,Initial Mobilisation,11.0,Mob/Radio problems when mobilised

In [15]:
start_time = time.time()  # Capture le temps au début
df_mobilisation_2015_2020_NoIndex = pd.read_excel("../raw_data/LFB Mobilisation data from 2015 - 2020.xlsx", engine='openpyxl')
end_time = time.time()  # Capture le temps à la fin
execution_time = end_time - start_time
print(f"Temps d'exécution : {execution_time} secondes")

Temps d'exécution : 93.2769501209259 secondes

df_mobilisation_2015_2020_NoIndex.to_csv("../raw_data/LFB Mobilisation data from 2015 - 2020.csv", index=False)

In [16]:
start_time = time.time()  # Capture le temps au début
df_mobilisation_2015_2020_NoIndex = pd.read_csv("../raw_data/LFB Mobilisation data from 2015 - 2020.csv")
end_time = time.time()  # Capture le temps à la fin
execution_time = end_time - start_time
print(f"Temps d'exécution : {execution_time} secondes")

/tmp/ipykernel_7802/2313877142.py:2: DtypeWarning: Columns (0,13) have mixed types. Specify dtype option on import or set low_memory=False.
  df_mobilisation_2015_2020_NoIndex = pd.read_csv("../raw_data/LFB Mobilisation data from 2015 - 2020.csv")

Temps d'exécution : 1.7577743530273438 secondes

In [18]:
df_mobilisation_2015_2020.info()

<class 'pandas.core.frame.DataFrame'>
Index: 883641 entries, 1151 to 164510-31122020
Data columns (total 21 columns):
 #   Column                    Non-Null Count   Dtype
---  ------                    --------------   -----
 0   CalYear                   883641 non-null  int64
 1   HourOfCall                883641 non-null  int64
 2   ResourceMobilisationId    883641 non-null  int64
 3   Resource_Code             883641 non-null  object
 4   PerformanceReporting      883641 non-null  object
 5   DateAndTimeMobilised      883641 non-null  datetime64[ns]
 6   DateAndTimeMobile         876365 non-null  datetime64[ns]
 7   DateAndTimeArrived        883641 non-null  datetime64[ns]
 8   TurnoutTimeSeconds        876339 non-null  float64
 9   TravelTimeSeconds         876254 non-null  float64
 10  AttendanceTimeSeconds     883641 non-null  int64
 11  DateAndTimeLeft           882620 non-null  datetime64[ns]
 12  DateAndTimeReturned       95728 non-null   datetime64[ns]
 13  DeployedFromStation_Code  883620 non-null  object
 14  DeployedFromStation_Name  883620 non-null  object
 15  DeployedFromLocation      882957 non-null  object
 16  PumpOrder                 883641 non-null  int64
 17  PlusCode_Code             883641 non-null  object
 18  PlusCode_Description      883641 non-null  object
 19  DelayCodeId               215751 non-null  float64
 20  DelayCode_Description     215751 non-null  object
dtypes: datetime64[ns](5), float64(3), int64(5), object(8)
memory usage: 148.3+ MB

# Mobilisation 2021-2024

In [5]:
df_mobilisation_2021_2024 = pd.read_excel("../raw_data/LFB Mobilisation data 2021 - 2024.xlsx", index_col='IncidentNumber', engine='openpyxl')
df_mobilisation_2021_2024.head()

,CalYear,HourOfCall,ResourceMobilisationId,Resource_Code,PerformanceReporting,DateAndTimeMobilised,DateAndTimeMobile,DateAndTimeArrived,TurnoutTimeSeconds,TravelTimeSeconds,...,DateAndTimeLeft,DateAndTimeReturned,DeployedFromStation_Code,DeployedFromStation_Name,DeployedFromLocation,PumpOrder,PlusCode_Code,PlusCode_Description,DelayCodeId,DelayCode_Description
IncidentNumber,,,,,,,,,,,,,,,,,,,,,
000004-01012021,2021,0,5769249,A321,1,2021-01-01 00:06:47,2021-01-01 00:07:35,2021-01-01 00:09:48,48.0,133.0,...,2021-01-01 00:57:30,NaN,A32,Hornsey,Home Station,1,Initial,Initial Mobilisation,NaN,NaN
000005-01012021,2021,0,5769250,F351,1,2021-01-01 00:07:47,2021-01-01 00:09:41,2021-01-01 00:11:57,114.0,136.0,...,2021-01-01 00:18:39,NaN,F35,Woodford,Home Station,1,Initial,Initial Mobilisation,NaN,NaN
000006-01012021,2021,0,5769251,F412,1,2021-01-01 00:08:21,2021-01-01 00:10:32,2021-01-01 00:14:37,131.0,245.0,...,2021-01-01 00:24:43,NaN,F41,Dagenham,Home Station,1,Initial,Initial Mobilisation,12.0,Not held up
000007-01012021,2021,0,5769252,H331,1,2021-01-01 00:12:23,2021-01-01 00:13:16,2021-01-01 00:19:12,53.0,356.0,...,2021-01-01 00:40:49,NaN,H33,Wandsworth,Home Station,1,Initial,Initial Mobilisation,8.0,Traffic calming measures
000007-01012021,2021,0,5769253,G351,2,2021-01-01 00:12:23,2021-01-01 00:13:32,2021-01-01 00:19:48,69.0,376.0,...,2021-01-01 00:29:54,NaN,G35,Fulham,Home Station,2,Initial,Initial Mobilisation,NaN,NaN

In [6]:
df_mobilisation_2021_2024.info()

<class 'pandas.core.frame.DataFrame'>
Index: 638519 entries, 000004-01012021 to 125323-30072024
Data columns (total 21 columns):
 #   Column                    Non-Null Count   Dtype
---  ------                    --------------   -----
 0   CalYear                   638519 non-null  int64
 1   HourOfCall                638519 non-null  int64
 2   ResourceMobilisationId    638519 non-null  int64
 3   Resource_Code             638519 non-null  object
 4   PerformanceReporting      638519 non-null  object
 5   DateAndTimeMobilised      638519 non-null  datetime64[ns]
 6   DateAndTimeMobile         635724 non-null  datetime64[ns]
 7   DateAndTimeArrived        638519 non-null  datetime64[ns]
 8   TurnoutTimeSeconds        635706 non-null  float64
 9   TravelTimeSeconds         635704 non-null  float64
 10  AttendanceTimeSeconds     638519 non-null  int64
 11  DateAndTimeLeft           638279 non-null  datetime64[ns]
 12  DateAndTimeReturned       0 non-null       float64
 13  DeployedFromStation_Code  638515 non-null  object
 14  DeployedFromStation_Name  638515 non-null  object
 15  DeployedFromLocation      638065 non-null  object
 16  PumpOrder                 638519 non-null  int64
 17  PlusCode_Code             638519 non-null  object
 18  PlusCode_Description      638519 non-null  object
 19  DelayCodeId               158911 non-null  float64
 20  DelayCode_Description     158911 non-null  object
dtypes: datetime64[ns](4), float64(4), int64(5), object(8)
memory usage: 107.2+ MB

In [17]:
start_time = time.time()  # Capture le temps au début
df_mobilisation_2021_2024_NoIndex = pd.read_excel("../raw_data/LFB Mobilisation data 2021 - 2024.xlsx", engine='openpyxl')
end_time = time.time()  # Capture le temps à la fin
execution_time = end_time - start_time
print(f"Temps d'exécution : {execution_time} secondes")

Temps d'exécution : 68.24601817131042 secondes

df_mobilisation_2021_2024_NoIndex.to_csv("../raw_data/LFB Mobilisation data 2021 - 2024.csv", index=False)

In [18]:
start_time = time.time()  # Capture le temps au début
df_mobilisation_2015_2020_NoIndex = pd.read_csv("../raw_data/LFB Mobilisation data from 2015 - 2020.csv")
end_time = time.time()  # Capture le temps à la fin
execution_time = end_time - start_time
print(f"Temps d'exécution : {execution_time} secondes")

/tmp/ipykernel_7802/2313877142.py:2: DtypeWarning: Columns (0,13) have mixed types. Specify dtype option on import or set low_memory=False.
  df_mobilisation_2015_2020_NoIndex = pd.read_csv("../raw_data/LFB Mobilisation data from 2015 - 2020.csv")

Temps d'exécution : 1.8317952156066895 secondes

In [12]:
df_mobilisation_2021_2024_NoIndex.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 638519 entries, 0 to 638518
Data columns (total 22 columns):
 #   Column                    Non-Null Count   Dtype
---  ------                    --------------   -----
 0   IncidentNumber            638519 non-null  object
 1   CalYear                   638519 non-null  int64
 2   HourOfCall                638519 non-null  int64
 3   ResourceMobilisationId    638519 non-null  int64
 4   Resource_Code             638519 non-null  object
 5   PerformanceReporting      638519 non-null  object
 6   DateAndTimeMobilised      638519 non-null  datetime64[ns]
 7   DateAndTimeMobile         635724 non-null  datetime64[ns]
 8   DateAndTimeArrived        638519 non-null  datetime64[ns]
 9   TurnoutTimeSeconds        635706 non-null  float64
 10  TravelTimeSeconds         635704 non-null  float64
 11  AttendanceTimeSeconds     638519 non-null  int64
 12  DateAndTimeLeft           638279 non-null  datetime64[ns]
 13  DateAndTimeReturned       0 non-null       float64
 14  DeployedFromStation_Code  638515 non-null  object
 15  DeployedFromStation_Name  638515 non-null  object
 16  DeployedFromLocation      638065 non-null  object
 17  PumpOrder                 638519 non-null  int64
 18  PlusCode_Code             638519 non-null  object
 19  PlusCode_Description      638519 non-null  object
 20  DelayCodeId               158911 non-null  float64
 21  DelayCode_Description     158911 non-null  object
dtypes: datetime64[ns](4), float64(4), int64(5), object(9)
memory usage: 107.2+ MB

[i.weekday() for i in df_mobilisation_2021_2024['DateAndTimeMobilised']]